$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$effectDuration: 0.3s;
$main-text-color: #292929;
$columns-mobile: 2;
$columns-on-tablet: 6;
$columns-on-desktop: 12;
$color-primary: #00acdc;
$color-white: #fff;
$background-color-hover: #f8f8fa;
$background-color-active: #111;
