.category {
  &__actions {
    @include page-grid;
  }

  &__button {
    grid-column: 1 / -1;
    height: 56px;
    padding-inline: 48px;
    box-sizing: border-box;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: 1px solid $main-text-color;

    @include on-desktop {
      grid-column: span 4;
    }

    background-color: $main-text-color;
    color: $color-white;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;

    @include transition(background-color, color);
    &:hover,
    &:focus-visible {
      background-color: $background-color-hover;
      color: $main-text-color;
    }

    &:active {
      background-color: $background-color-active;
      color: $color-white;
    }
  }
}
