.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px; // або як вимагає завдання
  z-index: -1;

  &__bg {
    width: 100%;
    height: 100%;
    background-image: url('../../images/products/ImageDesktop.png');
    background-size: cover;
    background-position: center;
  }
}
