.header {
  background-image: url(../../images/products/ImageMobile.png);
  background-size: cover;
  background-position: center;

  @include on-tablet {
    background-image: url(../../images/products/ImageTablet.png);
  }

  @include on-desktop {
    background-image: url(../../images/products/ImageDesktop.png);
  }

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
    margin: 0;
  }

  &__bottom {
    padding: 40px;
  }
}

.top-bar {
  padding-block: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
  }

  &__icons {
    position: relative;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__phone-number {
    display: none;
  }

  @include on-desktop {
    &__phone-number {
      display: block;

      position: absolute;
      right: 100%;
      margin-right: 16px;

      opacity: 0;
      pointer-events: none;
      white-space: nowrap;
      transition: opacity 0.2s;
    }

    .icon--phone:hover ~ .top-bar__phone-number {
      opacity: 1;
      pointer-events: auto;
    }

    .icon--menu:hover ~ .top-bar__phone-number {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
