.icon {
  display: block;
  width: 24px;
  height: 24px;

  &--phone {
    background-image: url(../../icons/icon-phone.png);
  }

  &--menu {
    background-image: url(../../icons/Icon-burger-menu.png);
  }

  &--close {
    background-image: url(../../icons/Icon-Close.png);
  }
}
