.icon {
  display: block;
  width: 24px;
  height: 24px;

  img {
    width: 100%;
    height: 100%;
    display: block;
  }

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  @include on-desktop {
    width: 32px;
    height: 32px;
  }

  &--phone {
    width: 24px;
    height: 24px;

    background: url('../../icons/iconsicon-phone.svg') no-repeat left center /
      24px 24px;

    @include on-tablet {
      width: 32px;
      height: 32px;
      background-size: 32px 32px;
    }

    @include on-desktop {
      width: 179px;
      height: 32px;

      background: url('../../icons/iconsicon-phone.svg') no-repeat right
        center / 32px 32px;

      &:hover {
        background: url('../../icons/Phone-number.svg') no-repeat center /
          contain;
      }
    }

    img {
      display: none;
    }
  }
}
